.background {
    background-size:cover;
    background-image:url("./1696951728_background-task.jpg");
    background-position:center;
    height: 100%;
}
html,body{
    height:100%;
    margin:0;
  }