.background {
    background-size:cover;
    background-image:url("./aa-4.jpg");
    background-position:center;
    height: 100%;
}
html,body{
    height:100%;
    margin:0;
  }
  .text{
    flex-direction: column;
    /* justify-content: space-between; */
    display: flex;
    text-align: center;
    /* justify-content: center; */
    font-size: 90px;
    position: absolute;
    bottom: 130px;
    left: 120px;
    color:red;
    font-family:verdana

  }